@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 600;
}