@import "variables.scss";

@media screen and (max-width: 767px) {

  section.herobanner.herobanner--home {
    height: 500px;

    .container {
      h1 {
        font-size: 38px;
        line-height: 48px;
      }
    }
  }

  section.about--home {
    .about--header {
      padding: 45px 0 35px;

      h2 {
        font-size: 30px;
      }
    }
  }

  section.history--home {
    padding-bottom: 80px;

    .history--header {
      padding: 45px 0 35px;

      h2 {
        font-size: 30px;
      }
    }

    .history--content {
      .column {
        .block {
          p {
            width: 100%;
            font-size: 16px;
            line-height: 26px;
          }
        }
      }

      .history--line {
        display: none;
      }
    }
  }

  section.info--home {
    padding-bottom: 70px;

    .info--header {
      padding: 40px 0 35px;

      h2 {
        font-size: 30px;
      }
    }

    .info--content {
      .paragraph--big {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
      }

      a {
        font-size: 18px;
      }
    }
  }

  section.herobanner.herobanner--services {
    .container {
      h1 {
        font-size: 38px;
      }
    }
  }

  section.services--content {
    padding: 70px 0 10px;

    .column--single {
      p {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  section.herobanner.herobanner--contact {
    .container {
      h1 {
        font-size: 38px;
      }
    }
  }

  section.content--contact {
    padding: 60px 0 15px;

    .column {
      h2 {
        font-size: 25px;
      }

      p {
        font-size: 16px !important;
        line-height: 26px !important;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #header {
    #mobile {
      display: block;
    }

    .header--menu {
      display: none;
    }

    .container {
      ul {
        text-align: center;
        margin: 0 auto;
        max-width: 200px;

        li {
          display: block;

          &.phone--menu {
            div {
              width: auto;

              span {
                opacity: 1;
              }
            }

            &:hover {
              div {
                width: auto !important;

                span {
                  animation: none !important;
                }
              }
            }
          }
        }
      }
    }
  }

  section.about--home {
    .section--about {
      margin: 0 0 60px;

      .column--image {
        img {
          width: 100%;
          height: auto;
          margin: 0 0 50px;
        }
      }

      .column--text {
        height: auto;

        div {
          p {
            width: 100%;
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }
}