@import "variables";
@import "font-faces";

h1, h2, h3, h4, h5, h6, span, li, a, p, div, strong, ul {
  font-family: 'Open Sans', sans-serif !important;
  color: $fontColor;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden !important;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $lightBlue;
  }
}

@mixin fontSettings($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin getTransitions($time) {
  -webkit-transition: linear $time;
  -moz-transition: linear $time;
  -ms-transition: linear $time;
  -o-transition: linear $time;
  transition: linear $time;
}

#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3000;
  transition: .3s linear all;
  background-color: #fff;

  #mobile {
    display: none;
    float: right;
    margin: 21px 0;
    width: 21px;
    height: 14px;
    cursor: pointer;
    position: relative;
    @include getTransitions(.3s);

    span {
      background-color: $darkBlue;
      display: inline-block;
      width: 21px;
      height: 2px;
      position: absolute;
      left: 0;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 6px;
      }

      &:nth-child(3) {
        top: 12px;
      }
    }

    &.clicked {
      span{
        &:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: -3px;
          left: 3px;
        }

        &:nth-child(2) {
          width: 0;
          opacity: 0;
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 12px;
          left: 3px;
        }
      }
    }
  }

  &.fixed {
    @include getTransitions(.3s);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);

    #mobile {
      margin: 15px 0;
      @include getTransitions(.3s);
    }

    .container {
      img {
        height: 30px;
        margin: 7px 0;
        @include getTransitions(.3s);
      }

      ul {
        li {
          padding: 13px 0;
          @include getTransitions(.3s);

          a {
            padding: 15px 20px;
            font-size: 14px;
            line-height: 20px;
            @include getTransitions(.3s);
          }
        }
      }
    }
  }

  .container {
    background-color: #fff;

    img {
      height: 35px;
      margin: 11px 0;
      @include getTransitions(.3s);
    }

    ul {
      list-style-type: none;
      text-align: right;

      li {
        display: inline-block;
        background-color: #fff;
        padding: 18px 0;
        @include getTransitions(.3s);

        a {
          padding: 20px;
          color: $darkBlue;
          text-transform: uppercase;
          text-decoration: none;
          @include fontSettings(16px, 600);
          @include getTransitions(.3s);
        }

        &:hover {
          background-color: $darkBlue;
          @include getTransitions(.3s);

          a {
            color: #fff;
            transition: .3s linear all;
          }
        }

        &.phone--menu {
          background-color: #fff !important;
          padding-left: 10px;

          i {
            font-size: 15px;
            color: $darkBlue;
          }

          div {
            margin-left: 8px;
            width: 0;
            height: 16px;
            overflow: hidden;
            display: inline-block;
            @include getTransitions(.3s);

            span {
              @include fontSettings(12px, 400);
              animation: none;
              opacity: 0;
              @include getTransitions(.3s);
            }
          }

          &:hover {
            div {
              width: 120px;
              @include getTransitions(.3s);

              span {
                animation: showElement;
                animation-duration: .3s;
                animation-delay: .3s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                @include getTransitions(.3s);
              }
            }
          }
        }
      }
    }
  }
}

section.herobanner {
  background-image: url(../img/herobanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;

  &.herobanner--home {
    height: 660px;
  }

  &.herobanner--services,
  &.herobanner--contact {
    height: 500px;
    background-position: center;

    .container {
      h1 {
        text-align: center;
      }
    }
  }

  .container {
    position: relative;
    height: 100%;

    h1 {
      position: relative;
      top: 50%;
      color: #fff;
      font-size: 60px;
      font-weight: 600;
      line-height: 110px;
      text-shadow: 4px 4px 9px $textShadowColor;
    }
  }
}

section.about--home {
  padding: 0 0 40px;

  .about--header {
    padding: 80px 0 70px;

    h2 {
      text-align: center;
      @include fontSettings(40px, 600);
      color: $lightBlue;
    }
  }

  .section--about {
    margin: 0 0 100px;

    .column--image {
      img {
        display: block;
        height: 300px;
        width: 90%;
        margin: 0 auto;
        box-shadow: 5px 5px 10px 0 rgba($textShadowColor, 0.35);
      }
    }

    .column--text {
      height: 300px;
      display: table;

      div {
        display: table-cell;
        vertical-align: middle;

        p {
          @include fontSettings(18px, 400);
          line-height: 28px;
          width: 90%;
          margin: 0 auto;
          text-align: justify;

          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}

section.history--home {
  background-image: url(../img/history-background.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0 0 100px;

  .history--header {
    padding: 80px 0 70px;

    h2 {
      text-align: center;
      @include fontSettings(40px, 600);
      color: $fontColor;
    }
  }

  .history--content {
    position: relative;

    .column {
      .block {
        width: 90%;
        margin: 0 auto 80px;
        text-align: center;

        img {
          display: inline-block;
          margin: 0 0 40px;
        }

        p {
          @include fontSettings(18px, 400);
          line-height: 28px;
          width: 88%;
          margin: 0 auto;
          color: $fontColor;
          text-align: justify;

          span {
            font-weight: 600;
          }
        }
      }

      &.column--right {
        display: table;

        .block {
          display: table-cell;
          vertical-align: middle;
          padding: 0 5%;
        }
      }
    }

    .history--line {
      height: 85%;
      position: absolute;
      bottom: 0;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      .line--dotted {
        height: 26%;
        width: 3px;
        background-image: url(../img/history-timeline.png);
        background-repeat: repeat-y;
        display: block;
        margin: 0 auto;
      }

      .dot {
        background-color: $darkBlue;
        border: $lightBlue solid;
        border-radius: 50%;
        display: inline-block;
        margin: 5px 0;
        box-shadow: 0 1px 15px 2px rgba($textShadowColor, 0.8);

        &.dot--big {
          border-width: 4px;
          width: 24px;
          height: 24px;
        }

        &.dot--small {
          border-width: 4px;
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .history--summary {
    margin: 50px 0 0;

    p {
      @include fontSettings(18px, 400);
      line-height: 28px;
      max-width: 500px;
      margin: 0 auto;
      color: $fontColor;
      text-align: center;
    }
  }
}

section.info--home {
  width: 100%;
  background-color: $infoBackgroundColor;
  padding: 0 0 90px;

  .info--header {
    padding: 80px 0 70px;

    h2 {
      text-align: center;
      @include fontSettings(40px, 600);
      color: $lightBlue;
    }
  }

  .info--content {
    text-align: center;

    .paragraph--big {
      @include fontSettings(18px, 400);
      line-height: 28px;
      max-width: 700px;
      margin: 0 auto 60px;
      color: $fontColor;
      text-align: center;
    }

    a {
      text-decoration: none;
      font-size: 30px;
      text-transform: uppercase;
      color: #fff;
      padding: 20px 35px;
      display: inline-block;
      border-radius: 5px;
      margin: 0 0 50px;
      font-weight: 600;
      background: linear-gradient(to bottom, lighten($lightBlue, 30), $lightBlue);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      cursor: pointer;
      animation-delay: 1s;

      &:hover {
        box-shadow: 0 10px 28px rgba(0, 0, 0, 0.12), 0 7px 7px rgba(0, 0, 0, 0.12);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      }

      &:active {
        background: linear-gradient(to bottom, lighten($lightBlue, 10), $lightBlue);;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
      }
    }

    .paragraph--small {
      @include fontSettings(14px, 300);
      line-height: 24px;
      color: $fontColor;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

footer#footer {
  background-color: $darkBlue;
  padding: 20px 0;

  span {
    @include fontSettings(14px, 300);
    color: #fff;

    a {
      margin-left: 5px;
      text-decoration: none;
      color: $lightBlue;
      display: inline-block;
      font-weight: 400;
    }
  }
}

section.services--content {
  padding: 90px 0 30px;

  .column--single {
    p {
      @include fontSettings(18px, 400);
      color: $fontColor;
      margin: 0 auto 40px;
      text-align: justify;
      max-width: 650px;
      line-height: 28px;

      span {
        font-weight: 600;
      }

      &:last-of-type {
        margin-bottom: 60px;
      }
    }
  }

  .services--images {
    .image--single {
      animation-delay: 1s;
      margin: 0 0 60px;

      img {
        height: 100px;
        width: auto;
        display: block;
        margin: 0 auto 30px;
      }

      p {
        @include fontSettings(18px, 600);
        color: $lightBlue;
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
      }
    }
  }
}

section.content--contact {
  padding: 90px 0 45px;

  .column {
    margin: 0 0 45px;

    h2 {
     color: $darkBlue;
      margin: 0 0 40px;
      @include fontSettings(30px, 600);
    }

    &.column--left {
      p {
        @include fontSettings(18px, 400);
        color: $fontColor;
        line-height: 28px;

        a {
          color: $lightBlue;
          text-decoration: none;
        }

        span {
          font-weight: 600;
        }

        &:first-of-type {
          margin: 0 0 35px;
        }
      }

      #map {
        display: block;
        height: 300px;
        margin: 0 0 35px;
      }
    }

    &.column--right {
      .form-group {
        label {
          display: block;
          @include fontSettings(14px, 400);
          margin: 0 0 10px;
          color: $fontColor;
        }

        input, textarea {
          border: 1px solid $inputBorder;
          background-color: $inputBackground;
          padding: 15px;
          @include fontSettings(16px, 400);
          width: 100%;
          color: $fontColor;
          display: inline-block;
          margin: 0 0 15px;
          outline: none;
        }

        textarea {
          height: 200px;
          resize: none;
        }
      }

      button[type="submit"] {
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        padding: 20px 0;
        display: inline-block;
        border-radius: 5px;
        width: 100%;
        border: none;
        font-weight: 600;
        background: linear-gradient(to bottom, lighten($lightBlue, 30), $lightBlue);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        cursor: pointer;
        outline: none;

        &:hover {
          box-shadow: 0 10px 28px rgba(0, 0, 0, 0.12), 0 7px 7px rgba(0, 0, 0, 0.12);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        &:active {
          background: linear-gradient(to bottom, lighten($lightBlue, 10), $lightBlue);;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
      }
    }
  }
}

@keyframes showElement {
  0% {
    opacity: 0;
    overflow: hidden;
    height: 0;
  }

  100% {
    opacity: 1;
    overflow: visible;
    height: 16px;
  }
}

@import "responsive";